/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

A:link
{
	text-decoration: none;
	color: rgb(64,64,64);
	outline:0;
}
A:visited
{
	text-decoration: none;
	color: rgb(64,64,64);
	outline:0;
}
A:active
{
	text-decoration: none;
	color: rgb(64,64,64);
	outline:0;
}
A:hover
{
	text-decoration: none;
	text-shadow: #999999 2px 2px 5px;
	color: red; /*rgb(64,64,64);*/
	outline:0;
}

body {
	background-color:#F2F2F2;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-Tree .gwt-TreeItem {
  padding: 1px 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
  background: #ebeff9;
}

.glass-panel {
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 4000;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.mainMenu {
	background-color: #7EAC30 !important;
	width: 100% !important;
	font-weight: bold !important;
}
	.mainMenu .gwt-MenuItem { 
      	background-color: #7EAC30; 
      	color: #F3F3F3 !important;
      	padding: 2px 40px !important;
   }
   	.mainMenu .gwt-MenuItem-selected { 
   		background-color: #7EAC30 !important;
      	text-decoration: underline !important;
      	color: #F3F3F3 !important;
   }
   
.subMenu {
	background-color: #7EAC30 !important;
}
	.subMenu .gwt-MenuItem { 
      	background-color: #7EAC30; 
      	color: #F3F3F3 !important;
      	padding: 2px 20px !important;
   }
   	.subMenu .gwt-MenuItem-selected { 
   		background-color: #7EAC30 !important;
      	text-decoration: underline !important;
      	color: #F3F3F3 !important;
   }
}

.root {
	background-color: #E6E6E6 !important;
}

.margin {
	background-color: #F2F2F2 !important;
}

.mainViewLayer {
	
}

	.layerData{
		padding-bottom: 20px !important;
		padding-top: 20px !important;
	}
	
	.title {
		font-size: 32px !important;
		padding: 20px 0px 6px 20px !important;
		border-bottom: 1px dashed #E6E6E6 !important;
	}
	
	.subtitle {
		font-size: 26px !important;
		margin-top: 28px !important;
		padding-bottom: 20px !important;
	}
	
	.text {
		font-size: 16px !important;
		padding-right: 15px !important;
	}

	.button {
		background-color:  #4D9244 !important;
		color: #F3F3F3 !important;
		font-weight: bold !important;
		text-align: center !important;
		margin-right: 20px !important;
		padding: 5px !important;
	}
	
	.layerNameField {
		margin-right: 20px !important;
	}
	
	.layerList {
		padding-top: 24px !important;
	}
	
	.layerListElement {
		color: #FF8000 !important;
		font-size: 16px !important;
		margin-top: 6px !important;
		border-bottom: 1px solid #E6E6E6 !important;
	}
	
	.mainViewLayer .leftPanelLayer {
		padding: 20px !important;
		padding-left: 30px !important;
	}
	
	.mainViewLayer .rightPanelLayer {
		padding: 26px !important;
		padding-left: -20px !important;
		margin-left: -50px !important;
	}
	
	.propertyTab {
		margin-top: 20px !important;
	}
	
	.entityProperties {
		margin-top: 20px !important;
	}

