/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

A:link
{
	text-decoration: none;
	color: #FF8000 !important;
	outline:0;
}
A:visited
{
	text-decoration: none;
	color: rgb(64,64,64);
	outline:0;
}
A:active
{
	text-decoration: none;
	color: rgb(64,64,64);
	outline:0;
}
A:hover
{
	text-decoration: none;
	text-shadow: #999999 2px 2px 5px;
	color: red; /*rgb(64,64,64);*/
	outline:0;
}

body {
	color: #636B75 !important;
	font-size: 14px !important;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.glass-panel {
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 4000;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.mainMenu {
	background-color: #7EAC30 !important;
	width: 100% !important;
}
	.mainMenu .gwt-MenuItem { 
      	background-color: #7EAC30; 
      	color: #F3F3F3 !important;
      	padding: 2px 40px !important;
   }
   	.mainMenu .gwt-MenuItem-selected { 
   		background-color: #7EAC30 !important;
      	text-decoration: underline !important;
      	color: #F3F3F3 !important;
   }
   
.subMenu {
	background-color: #7EAC30 !important;
}
	.subMenu .gwt-MenuItem { 
      	background-color: #7EAC30; 
      	color: #F3F3F3 !important;
      	padding: 2px 20px !important;
   }
   	.subMenu .gwt-MenuItem-selected { 
   		background-color: #7EAC30 !important;
      	text-decoration: underline !important;
      	color: #F3F3F3 !important;
   }

.tag {
	font-size: 14px !important;
	color: #636B75 !important;
}

.font {
	font-size: 14px !important;
}

.rdcTitle {
	background-color: #D0F5A9 !important;
	font-weight: bold !important;
}

.margin {
	background-color: #F2F2F2 !important;
	padding: 20px !important;
}

.margin-top {
	margin-top: 16px !important;
}

.main {
	background-color: #E6E6E6 !important;
}

.mainWindow {
	background-color: #E6E6E6 !important;
	margin: 20px !important;
}

.background {
	margin: 0px 20px 20px 20px !important;
}

.gwt-TabPanelBottom {
	border: 0px solid #ffffff !important;
	border-top: 1px solid #4D9244 !important;
	border-bottom: 1px solid #4D9244 !important;
}

.gwt-TabBarItem {
	padding: 4px !important;
	background-color: #D8F6CE !important;
	font-size: 14px !important;
	color: #636B75 !important;
}

.gwt-TabBarItem-selected {
	background-color: #4D9244 !important;
	color: #F3F3F3 !important;
}

.gwt-TextBox {
	color: #636B75 !important;
}

.gwt-ListBox {
	color: #636B75 !important;
}

.ciGrid {
	margin-top: 16px !important;
	padding-top: 12px !important;
	border-top: 1px solid #4D9244 !important;
}

.tree {
	font-size: 14px !important;
	border-bottom: 1px solid #E6E6E6 !important;
	margin: 2px 0px !important;
}


.gwt-TreeItem {
	color: #FF8000 !important;
	font-size: 14px !important;
	border-bottom: 1px solid #E6E6E6 !important;
	margin: 0px !important;
	width: 100% !important;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #F6FFD0 !important;
}

.version {
	font-size:12px !important;
	color: #4D9244 !important;
	font-weight: bold !important;
	margin-bottom: 8px !important;
	margin-left: 10px !important;
}

.mainViewPage {
	margin-top: 26px !important;
	margin-left: 30px !important;
}

.layerData{
	padding-bottom: 20px !important;
	padding-top: 18px !important;
}

.title {
	font-size: 32px !important;
	margin: 20px 20px 8px 20px !important;
	border-bottom: 1px solid #E6E6E6 !important;
	color: #2E2E2E !important;
}

.bold {
	font-size: 14px !important;
	font-weight: bold !important;
	margin-right: 16px !important;
}

.float-right {
	float: right;
}

.shortcut-1 {
	background-color: #FFFB93 !important;
	margin: 10px 20px !important;
	padding: 8px !important;
	border-top: 16px solid #FFF728 !important;
}

.shortcut-2 {
	background-color: #FCD089 !important;
	margin: 10px 20px !important;
	padding: 8px !important;
	border-top: 16px solid #FCBF62 !important;
}

.shortcut-3 {
	background-color: #A5D1AB !important;
	margin: 10px 20px !important;
	padding: 8px !important;
	border-top: 16px solid #62C46F !important;
}

.colorBox {
	margin-right: 6px !important;
}

/** CSS multi-layer table results **/

.table {
	
}

.contentTable {
	padding: 3px 4px !important;
	border: 1px solid #E6E6E6 !important;
	font-size: 14px !important;
}

.contentResultsTable {
	padding: 16px !important;
	font-size: 14px !important;
}

.headTable {
	font-size: 14px !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 3px 4px !important;
	background-color: #F2F2F2 !important;
	border: 1px solid #E6E6E6 !important;
}

.headerTable {
	margin: 0 !important;
	padding: 3px 4px !important;
}

.bold2 {
	font-size: 14px !important;
	font-weight: bold !important;
}

.subtitle {
	font-size: 26px !important;
	margin-top: 28px !important;
	margin-bottom: 8px !important;
	color: #2E2E2E !important;
	border-bottom: 1px dotted #E6E6E6 !important;
}

.smallTitle {
	font-size: 20px !important;
	color: #2E2E2E !important;
	border-bottom: 1px dotted #E6E6E6 !important;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

.smallTitle2 {
	font-size: 16px !important;
	color: #2E2E2E !important;
	border-bottom: 1px dotted #E6E6E6 !important;
	margin-bottom: 10px !important;
	margin-top: 8px !important;
}

.properties {
	margin-top: 14px !important;
	margin-bottom: 16px !important;
}

.text {
	font-size: 14px !important;
	padding-right: 15px !important;
}

.button {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	text-align: center !important;
	margin-right: 20px !important;
	padding: 3px !important;
	margin-bottom: 18px !important;
}

.Button {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	margin-left: 12px !important;
}

.deleteButton {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.deleteButton2 {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	margin: 6px 0 !important;
}

.cellbutton.gwt-Button {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	text-align: center !important;
	padding: 5px !important;
}

.button2 {
	background-color:  #4D9244 !important;
	color: #F3F3F3 !important;
	font-weight: bold !important;
	text-align: center !important;
	margin-right: 20px !important;
	padding: 5px !important;
	margin-top: 18px !important;
}

.marginTopBottom {
	margin: 6px 0 !important;
}

.layerNameField {
	margin-right: 20px !important;
}

.layerList {
	
}

.layerListElement {
	color: #FF8000 !important;
	font-size: 14px !important;
	margin-top: 6px !important;
	border-bottom: 1px solid #E6E6E6 !important;
}

.leftPanel {
	margin: 20px !important;
	margin-left: 30px !important;
}

.margin-left {
	margin-left: 30px !important;
}

.margin-bottom {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}


.margin-grid {
	margin-left: 30px !important;
	margin-top: 16px !important;
}

.chart {
	margin-top: 16px !important;
	margin-left: 80px !important;
}

.rightPanel {
	margin: 20px !important;
	margin-left: 50px! important;
}

.contextTableInfo {
	vertical-align: middle !important;
	text-align: center !important;
	font-size: 10px !important;
	border: 0px solid #ffffff !important;
}

.wizard {
	margin-left: 30px !important;
	margin-top: 20px !important;
}

.head {
	font-size: 14px !important;
	padding: 8px !important;
	font-weight: bold !important;
	border: 0px solid #ffffff !important;
	border-bottom: 2px solid #7EAC30 !important;
}

.gridRisk {
	margin: 16px !important;
	margin-left: 26px !important;
	font-size: 16px !important;
}

.list {
	font-size: 14px !important;
	background-color: #fffff !important;
}

.tagSelected {
	font-size: 14px !important;
	margin: 8px !important;
	margin-left: 14px !important;
	font-weight: bold !important;
	color: #4D9244 !important;
}

.leftPanelLayer {
	padding: 20px !important;
	padding-left: 30px !important;
}

.rightPanelLayer {
	margin-left: 50px !important;
	border-left: 1px solid #E6E6E6 !important;
	padding-left: 20px !important;
	padding-bottom: 20px !important;
	float: left;
}

.propertyTab {
	margin-top: 20px !important;
}

.entityProperties {
	margin-top: 20px !important;
}

.cellTableEvenRow {
  background-color: #F2F2F2 !important;
}
