<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	
	<!-- Uncomment this to enable the support for multiple domains -->
	<context-param>
		<param-name>eu.riscoss.param.domains.list</param-name>
		<param-value>Playground,FBK,Cenatic,OW2,TEI,UPC</param-value>
	</context-param>
	
	<!-- Uncomment this to customize the DB location -->
	<!--  context-param>
		<param-name>eu.riscoss.db.address</param-name>
		<param-value>plocal:/...</param-value>
	</context-param-->
	<context-param>
		<param-name>eu.riscoss.db.name</param-name>
		<param-value>riscoss-db</param-value>
	</context-param>
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>40000000</param-value>
	</context-param>
	
<!-- 	<context-param> -->
<!-- 		<param-name>eu.riscoss.db.address</param-name> -->
<!-- 		<param-value>remote:localhost</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>eu.riscoss.db.name</param-name> -->
<!-- 		<param-value>riscoss</param-value> -->
<!-- 	</context-param> -->
	
	<!-- Not necesseary, for now -->
	<context-param>
		<param-name>eu.riscoss.db.admin.username</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>eu.riscoss.db.admin.password</param-name>
		<param-value>admin</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>RiscossWebApp</servlet-name>
		<!--servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class -->
		<servlet-class>eu.riscoss.server.ServletWrapper</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				eu.riscoss.server
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GaugeServlet</servlet-name>
		<servlet-class>eu.riscoss.server.GaugeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>eu.riscoss.server.UploadServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>downloadServlet</servlet-name>
		<servlet-class>eu.riscoss.server.DownloadServlet</servlet-class>
	</servlet>
	
	<!-- Servlet mappings -->

	<servlet-mapping>
		<servlet-name>RiscossWebApp</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GaugeServlet</servlet-name>
		<url-pattern>/gauge</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/models/download</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	

</web-app>
